@import url("../base/base.css");
body{
    background:palegoldenrod url(../img/test.jpg) no-repeat 0 0;
}
.test{
    background-color: red;
    height:20px;
}
.test1{
    background-color: mediumvioletred;
    height:30px;
    margin-top:10px;
}