<%= require('html-loader!../../templates/start.html') %>
<title>
    <!-- <%= htmlWebpackPlugin.options.title %> -->
</title>
<%= require('html-loader!../../templates/head.html') %>
<div class="my-container">
    <!-- tab切换和添加搜索区域 -->
    <div class="tabandSearch-container clearfix">
        <div class="tab-box lt">
            <div class="tab-div active" data-status="1">已报修 <span class="count-span count-reported">(-)</span></div>
            <div class="tab-div" data-status="2">维修中 <span class="count-span count-repairing">(-)</span></div>
            <div class="tab-div" data-status="3">已修复 <span class="count-span count-repaided">(-)</span></div>
            <div class="tab-div" data-status="4">已报废 <span class="count-span count-abandoned">(-)</span></div>
            <div class="tab-div" data-status="5">全部 <span class="count-span count-sumcount">(-)</span></div>
        </div>
        <div class="addAndSearch-box rt">
            <span class="add-btn">添加</span>
            <div class="search-box">
                <input type="number" id="search-mirrorNo-input">
                <span class="search-btn">搜索</span>
            </div>
        </div>
    </div>
    <!-- table区域 -->
    <div class="table-container">
        <table class="my-table" border="1" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>报修日期</th>
                    <th>报修人</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th>修复日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="pagingation"></div>
    </div>
</div>
<!-- 添加模态框（Modal） -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-model-content">
            <div class="model-content-container">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <div class="input-div"><span>编号 :&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="endoscope-box"><select id="endoscope"></select></span></div>
                <div class="input-div"><span>报修人 :&nbsp;&nbsp;&nbsp;&nbsp;</span><input readonly="readonly" id="name" type="text"></div>
                <div class="input-div"><span>备注 :&nbsp;&nbsp;&nbsp;&nbsp;</span><input id="remark" type="text"></div>
                <div class="btn-box">
                    <div class="my-layer-btn-box">
                        <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                        <span class="my-layer-btn my-layer-sure-btn add-sure-btn">确定</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- -------------------------------------详情模态框开始----------------------------------- -->
<!-- 查看详情模态框已报修 -->
<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-model-content">
            <div class="model-content-container2">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">编号: </span>
                        <span class="val-span show-endoscopeCode">205914</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">状态: </span>
                        <span class="val-span statusStr">已报修</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">报修人: </span>
                        <span class="val-span show-reporter">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">报修日期: </span>
                        <span class="val-span show-reporttime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">报修备注: </span>
                        <span class="val-span show-remark">---</span>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="my-layer-btn-box">
                        <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                        <!-- <span class="my-layer-btn my-layer-sure-btn">确定</span> -->
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 查看详情模态框维修中 -->
<div class="modal fade" id="detail-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-model-content">
            <div class="model-content-container2">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">编号: </span>
                        <span class="val-span show-endoscopeCode">205914</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">状态: </span>
                        <span class="val-span statusStr">维修中</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">报修人: </span>
                        <span class="val-span show-reporter">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">报修日期: </span>
                        <span class="val-span show-reporttime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">维修人: </span>
                        <span class="val-span show-receiver">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">维修日期: </span>
                        <span class="val-span show-receivetime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">报修备注: </span>
                        <span class="val-span show-remark">---</span>
                    </div>
                    <div class="lt beizhu-div">
                        <span class="key-span">维修备注: </span>
                        <span class="val-span show-receivesign">---</span>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="my-layer-btn-box">
                        <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                        <!-- <span class="my-layer-btn my-layer-sure-btn">确定</span> -->
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 查看详情模态框已修复 -->
<div class="modal fade" id="detail-modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-model-content">
            <div class="model-content-container2">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">编号: </span>
                        <span class="val-span show-endoscopeCode">205914</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">状态: </span>
                        <span class="val-span statusStr">已修复</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">报修人: </span>
                        <span class="val-span show-reporter">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">报修日期: </span>
                        <span class="val-span show-reporttime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">维修人: </span>
                        <span class="val-span show-receiver">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">维修日期: </span>
                        <span class="val-span show-receivetime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">修复人: </span>
                        <span class="val-span show-repairter">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">修复日期: </span>
                        <span class="val-span show-repairtime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">报修备注: </span>
                        <span class="val-span show-remark">---</span>
                    </div>
                    <div class="lt beizhu-div">
                        <span class="key-span">维修备注: </span>
                        <span class="val-span show-receivesign">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">修复备注: </span>
                        <span class="val-span show-repairtsign">---</span>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="my-layer-btn-box">
                        <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                        <!-- <span class="my-layer-btn my-layer-sure-btn">确定</span> -->
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 查看详情模态框已报废 -->
<div class="modal fade" id="detail-modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-model-content">
            <div class="model-content-container2">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">编号: </span>
                        <span class="val-span show-endoscopeCode">205914</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">状态: </span>
                        <span class="val-span statusStr">已修复</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">报修人: </span>
                        <span class="val-span show-reporter">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">报修日期: </span>
                        <span class="val-span show-reporttime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">维修人: </span>
                        <span class="val-span show-receiver">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">维修日期: </span>
                        <span class="val-span show-receivetime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt">
                        <span class="key-span">报废人: </span>
                        <span class="val-span show-scraper">张三</span>
                    </div>
                    <div class="lt">
                        <span class="key-span">报废日期: </span>
                        <span class="val-span show-scraptime">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">报修备注: </span>
                        <span class="val-span show-remark">---</span>
                    </div>
                    <div class="lt beizhu-div">
                        <span class="key-span">维修备注: </span>
                        <span class="val-span show-receivesign">---</span>
                    </div>
                </div>
                <div class="word-div clearfix">
                    <div class="lt beizhu-div">
                        <span class="key-span">报废备注: </span>
                        <span class="val-span show-scrapsign">---</span>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="my-layer-btn-box">
                        <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                        <!-- <span class="my-layer-btn my-layer-sure-btn">确定</span> -->
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- --------------------------------------详情模态框结束----------------------------------- -->
<!-- 维修模态框区域 -->
<div class="modal fade" id="repair-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-repair-model-content">
            <div class="my-layer-box">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <span class="my-layer-word">确定进行维修?</span>
                <div class="info-box">
                    <div class="info-row-div">
                        <span class="info-key">维修人</span>
                        <input type="text" readonly="readonly" class="info-input receiver-input current-account">
                    </div>
                    <div class="info-row-div">
                        <span class="info-key">备注</span>
                        <input type="text" class="info-input receivesign-input">
                    </div>
                </div>
                <div class="my-layer-btn-box">
                    <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                    <span class="my-layer-btn my-layer-sure-btn repair-sure-btn">确定</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 修复模态框区域 -->
<div class="modal fade" id="xiufu-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-repair-model-content">
            <div class="my-layer-box">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <span class="my-layer-word">确定已经修复?</span>
                <div class="info-box">
                    <div class="info-row-div">
                        <span class="info-key">修复人</span>
                        <input type="text" readonly="readonly" class="info-input repairter-input current-account">
                    </div>
                    <div class="info-row-div">
                        <span class="info-key">备注</span>
                        <input type="text" class="info-input repairtsign-input">
                    </div>
                </div>
                <div class="my-layer-btn-box">
                    <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                    <span class="my-layer-btn my-layer-sure-btn xiufu-sure-btn">确定</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 报废模态框区域 -->
<div class="modal fade" id="scrap-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- 这个里面放内容 -->
        <div class="modal-content my-repair-model-content">
            <div class="my-layer-box">
                <span class="my-layer-close" data-dismiss="modal">×</span>
                <span class="my-layer-word">确定报废吗 ? </span>
                <div class="info-box">
                    <div class="info-row-div">
                        <span class="info-key">报废人</span>
                        <input type="text" readonly="readonly" class="info-input current-account scraper-input">
                    </div>
                    <div class="info-row-div">
                        <span class="info-key">备注</span>
                        <input type="text" class="info-input scrapsign-input">
                    </div>
                </div>
                <div class="my-layer-btn-box">
                    <span class="my-layer-btn my-layer-sure-cancel-btn" data-dismiss="modal">取消</span>
                    <span class="my-layer-btn my-layer-sure-btn scrap-sure-btn">确定</span>
                </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!../../templates/footer.html') %>