@import url("../../templates/head/head.css");/*引入通用的css*/

.echartscont{padding: 30px 40px 0;}
.echartscont .row>div{margin-bottom: 35px;}
.echartsmod{background: #373C53;box-shadow: 0 5px 14px 0 rgba(0,0,0,0.09);border-radius: 10px;height: 420px;color: #fff;padding: 10px 10px;position: relative;}
.chartmod{height: 100%;}
.chart-tab{position: absolute;top: 20px;right: 30px;z-index: 1000;}
.chart-tab>span{display: inline-block;padding-bottom:2px;margin: 0 10px; font-size: 16px;color: #8C8C96;cursor: pointer;}
.chart-tab>span.on{color: #317EFE;border-bottom: 2px solid #317EFE;}
.chardropdown{position: absolute;top: 15px;left: 35px;z-index: 1000;}
.chardropdown .form-control{
    appearance: none; /* 去掉默认图标 */
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    padding:0 30px 0 5px;
    width: auto;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    outline: none;
    background: url(../../assets/down.png) no-repeat right center;
}
.chardropdown .form-control option{background: #373C53;}
.charttitle-tab{position: absolute;left: 30px;top: 0;z-index: 1000;width: 40%;overflow: hidden;height: 60px;}
.charttitle-tab>span{display: inline-block;padding: 12px 5px;font-size: 16px; color: #FFFFFF;cursor: pointer;max-width: 140px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.charttitle-tab>span.on{color: #3173E3;background: #2A2E42;border-bottom: 2px solid #317EFE;}

.nothingfont{
    line-height: 300px;
    text-align: center;
    font-size: 26px;
}